   <section>
        <div class="circle"></div>
        <header>
            <a href="https://phedi.shop/"><img src="/img/Logo.png" class="logo"></a>
            {{!-- <ul>
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Mới</a></li>
                <li><a href="">Liên hệ</a></li>

            </ul> --}}

            <div id='PointContent'>
              <p id='currentPointDisplayWrapper'>Điểm tích lũy: <span id="currentPointDisplay">0</span></p>
              <p class="redeem-info">Đủ 150 điểm đổi 1 ly bất kỳ trong menu</p>
            </div>
           
        </header>
        <div class="content">

            
            <div class="textBox">
                <form action="">
                <h2 class=''>ĐẶT TRƯỚC. NHẬN NGAY TRONG <span> <br>5 Giây</span></h2>
                  <h2 class=''><span>GIẢM GIÁ NGẪU NHIÊN 5 ĐẾN 15%</span> KHI ĐẶT TRƯỚC QUA <span> <br>PHEDI.SHOP</span></h2>
                  

                <div style='gap:10px' class="d-flex justify-content-between">
                  <div class="form-floating mb-2">
                    <input type="email" class="form-control" id="userName" placeholder="name@example.com">
                    <label for="userName">Tên</label>
                        </div>

                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" id="userPhoneNumber" placeholder="Số điện thoại">
                            <label for="userPhoneNumber">Số điện thoại</label>
                        </div>
                </div>

 <div class="form-check d-none">
                    <input class="form-check-input" type="checkbox" value="" id="preOrder">
                    <label class="form-check-label" for="preOrder">
                      Đặt trước
                    </label>
                  </div>
                <div class='orderDateTime active'>
                   <div style='gap:0px' class="d-flex justify-content-between">
                  <div class="form-floating mb-2 datepicker">
                    <input  class="p-3" id="datepicker" width="100px" />
                    
                    {{!-- <label class='datepicker-label' for="datepicker">Ngày nhận</label> --}}



                    </div>
                 <div class="form-floating mb-2 timepicker">
                    <input id="timepicker" type="time" class="form-control" min="06:00" max="09:00" required />
                    <label for="timepicker">Giờ nhận</label>
                </div>
                </div>
                     <div class="alert alert-warning small-text" role="alert">
                            Lưu ý: Nhập địa chỉ khi có nhu cầu đặt ship ạ ^^. quý khách hoặc shipper sẽ <span class='fw-bold'>nhận tại quầy</span> theo thời gian khách chọn. 
                        </div>
                </div>
               
               
                 

              <div class="form-floating mb-2">
                    <input type="email" class="form-control" id="userAddress" placeholder="">
                    <label for="userName">Địa chỉ</label>
                        </div>
                          <div class="alert alert-warning small-text" role="alert">
                            Lưu ý: Thời gian hoạt động từ <span class='fw-bold'>6:00 AM đến 9:00 AM</span>
                        </div>
                            <div class="mb-2">
                              
                              <textarea placeholder='Ví dụ: Ít đường, Ít sữa, upsize' class="form-control" id="userNote" rows="3"></textarea>
                            </div>

                            <div>

                            </div>

                             
                              <div class='payment'>
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col">Bill</th>
                                      <th scope="col">Tên SP</th>
                                      <th scope="col">SL</th>
                                      <th scope="col">Thành Tiền</th>
                                    </tr>
                                  </thead>
                                  <tbody class='productList'>
                                    {{!-- <tr class='productItem blackcoffee'>
                                      <th scope="row">1</th>
                                      <td>Cà Phê Đen</td>
                                      <td><input type="number" min='0' value='0' class="" id=""></td>
                                      <td class='totalAmount'><span class='price'>0</span></td>
                                    </tr>
                                    <tr class='productItem milkcoffee'>
                                      <th scope="row">2</th>
                                      <td>Cà Phê Sữa</td>
                                      <td><input type="number" min='0'  value='0' class="" id=""></td>
                                      <td class='totalAmount'><span class='price'>0</span></td>
                                    </tr>
                                    <tr class='productItem saltcoffee'>
                                      <th scope="row">3</th>
                                      <td>Cà Phê Muối</td>
                                      <td><input type="number" value='0' min='0' class="" id=""></td>
                                      <td class='totalAmount'><span class='price'>0</span></td>
                                    </tr>
                                    <tr class='productItem whitecoffee'>
                                      <th scope="row">4</th>
                                      <td>Bạc Xỉu</td>
                                      <td><input type="number" min='0' class="" value='0' id=""></td>
                                      <td class='totalAmount'><span class='price'>0</span></td>
                                    </tr> --}}
                                    <tr>
                                      <th scope="row"></th>
                                      <td></td>
                                      <td></td>
                                      <td class='bold-text text-yellow-bold'>Tổng: <span class="finalMoney">0</span></td>
                                      <td><span class="final"></span></td>

                                    </tr>
                                    
                                   
                                  </tbody>
                                </table>
                                
                              </div>
                              <div class="orderBtnWrapper">

                                <div>
                                    <div class="orderBtn">ĐẶT NGAY-GIẢM GIÁ 5 đến 15%</div>
                                </div>

                                <div>
                                       <p id='billID'>
                                            <span></span>
                                       </p>
                                       <p id='productBill'></p>
                                       <p id='noteBill'></p>

                                        <div class="qr-wrap">
                                          <div class="qr-element">
                                            <img src="./img/momo-qr.jpg" alt="" class="momo-qr">

                                          <a href="./img/momo-qr.jpg" download="qr-thanh-toan.png">
                                             <div style="text-align: center;">
  <a href="/images/qr.png" download="qr-thanh-toan.png" style="text-decoration: none;">
    <div style="background-color: #D82D88; color: white; padding: 10px 20px; border-radius: 8px; text-align: center; width: fit-content; margin: auto;">
      Tải mã QR về máy
    </div>
  </a>
</div>

                                                </a>


                                          </div>
                                          <div class="qr-element">
                                            <img src="./img/vcb-qr.jpg" alt="" class="momo-qr">
                                          </div>

                                          <a href="./img/momo-qr.jpg" download="qr-thanh-toan.png">
                                             <div style="text-align: center;">
  <a href="/images/qr.png" download="qr-thanh-toan.png" style="text-decoration: none;">
    <div style="background-color: #b829e5; color: white; padding: 10px 20px; border-radius: 8px; text-align: center; width: fit-content; margin: auto;">
      Tải mã QR về máy
    </div>
  </a>
                                        </div>
                                            


                                       

                                        <input type="hidden" id="discountPercent" value='{{this.DISCOUNTPERCENT}}'>
                                </div>
                               
                                


                              </div>
        



                      </div>

                     
                </form>
            </div>
            <div class="imgBox">
                <img src="./img/img1.webp" class="starbucks">
                <ul class="thumb">
                    <li><p href="."><img src="./img/thumb1.webp" onclick="imgSlider('./img/img1.webp'); changeCircleColor('#000000') " ></p></li>
                    <li><p href="."><img src="./img/thumb2.webp" onclick="imgSlider('./img/img2.webp'); changeCircleColor('#854836') " ></p></li>
                    <li><p href="."><img src="./img/thumb3.webp" onclick="imgSlider('./img/img3.webp',15); changeCircleColor('#FFB22C') " ></p></li>
                    <li><p href="."><img src="./img/thumb4.webp" onclick="imgSlider('./img/img4.webp',15); changeCircleColor('#FFB22C') " ></p></li>
                </ul>
            </div>
            
        </div>
        
        
        
        {{!-- <ul class="sci">
            <li><a href="#"><img src="./img/facebook.png"></a></li>
            <li><a href="#"><img src="./img/twitter.png"></a></li>
            <li><a href="#"><img src="./img/instagram.png"></a></li>
        </ul> --}}
    </section>
    <div class='section'>

      <div>
        <h2>Hướng dẫn đặt hàng</h2>
        <ul class="progressbar">
          <li class="complete">Bước 1: Điền thông tin
            <div class="progressbar-content">
              <p> Vui lòng điền đẩy đủ thông tin Họ và Tên, Số điện thoại và thời gian nhận hàng</p>
            </div>
          </li>
          <li class="complete">Bước 2: Chọn sản phẩm 
            <div class="progressbar-content">
              <p>Chọn loại sản phẩm và số lượng sản phẩm bạn cần hệ thống sẽ tự động tính giá trị đơn hàng</p>
            </div>
          </li>
          <li class="complete">Bước 3: Đặt hàng
            <div class="progressbar-content">
              <p>Bấm vào nút đặt hàng thông tin đơn hàng của bạn sẽ được gửi đến người bán</p>
            </div>
          </li>
          <li class="complete">Bước 4: Thanh toán
            <div class="progressbar-content">
              <p>Bạn quét mã QR thanh toán hoặc chuyển tiền vào tài khoảng Vietcombank 0271001082592 TRAN MINH NHAN với nội dung chuyển khoảng là mã đơn hàng được gửi về trong hóa đơn</p>
            </div>
          </li>
          <li class="complete">Bước 5: Nhận hàng
            <div class="progressbar-content">
              <p>Bạn đến điểm bán ở dưới bản đồ địa chỉ là "55 Đại lộ Bình Dương, Vĩnh Phú, Thuận An, Bình Dương, Việt Nam" để nhận hàng</p>
            </div>
          </li>
        </ul>

    </div>

    <dic class='footer section'>
  <div class='container'>
      {{!-- <div class='footer_top'>
        <div class='row'>
          <div class='col-lg-8 col-md-6 col-12'>
            <div class='area_newsletter'>
              <div class='title_newsletter'>
                <i class='fas fa-envelope-open-text'></i>
                <h4>Đăng ký nhận tin</h4>
              </div>
              <div class='form_newsletter'>
                <input placeholder='Nhập email của bạn' type='text' />

              </div>
            </div>
          </div>
          <div class='col-lg-4 col-md-6 col-12'>
            <div class='area_phone_contact'>
              <p class='number_phone'>
                <i class='fas fa-phone-square'></i>
                <span>Hotline mua hàng online</span>
                            <a href='tel:0962165084' class='hotline__link'>0962165084</a>

              </p>
            </div>
          </div>
        </div> --}}

      </div>
      <div class='footer_support'>
        <div class='row'>
          <div class='col-lg-3 col-md-6'>
                <div class='footer_support-item'>
              <a href="/policy/giao-hang">

                  <div class='support-item_icon'>
                    <i class='fas fa-cog'></i>

                  </div>
                  <h3>GIẢM GIÁ KHI ORDER TRƯỚC</h3>
                  <p>Tất cả đơn hàng không quan trọng số lượng</p>
              </a>
                </div>
          </div>
          <div class='col-lg-3 col-md-6'>
            <div class='footer_support-item'>
              <a href="/policy/giao-hang">
                  <div class='support-item_icon'>
                    <i class='fas fa-shipping-fast'></i>

                  </div>
                  <h3>Chính sách giao hàng</h3>
                  <p>Giao đi theo yêu cầu của khách VD: giờ là 8:00 AM thì shiper sẽ lấy hàng vào đúng 8:00 AM</p>
              
              </a>
            </div>
          </div>
          <div class='col-lg-3 col-md-6'>
            <div class='footer_support-item'>
              <a href="/policy/doi-tra">
                  <div class='support-item_icon'>
                    <i class='fas fa-exchange-alt'></i>

                  </div>
                  <h3>Chính sách đổi trả</h3>
                  <p>Đổi sang hôm khác nhận chỉ cần báo trước 15 phút </p>
              </a>
              </div>
          </div>
          <div class='col-lg-3 col-md-6'>
            <div class='footer_support-item'>
              <a href='tel:0962165084' class=''>
                
                <div class='support-item_icon'>
                  <i class='fas fa-phone-volume'></i>

                </div>
                <h3>Hỗ trợ</h3>
                <p>            
                    
                    Hotline: 0962165084
                </p>
              </a>

            </div>
          </div>

        </div>

      </div>
      <div class='footer_main'>
        <div class='row'>
          <div class='col-lg-4 col-md-6 col-12'>
            <div class='footer_main-item'>
              <div class='support-item_header'>
                <h3>PHEDI CÀ PHÊ</h3>
              </div>
              <div class='support-item_content'>
                     <p style="margin: 0.5rem 0;">Cà phê mang đi - nhanh, gọn, đậm vị</p>
                      
                      <p style="margin-top: 1rem; font-size: 0.875rem; color: #666;">© 2025 PHEDI. All rights reserved.</p>
              </div>
              {{!-- <div class='chung-nhan-bo-cong-thuong'>
               <img src="/img/Featured/da-thong-bao-bo-cong-thuong-gif.gif" alt="">
              </div> --}}
            </div>
          </div>

          <div class='col-lg-4 col-md-6 col-12'>
            <div class='footer_main-item'>
              <div class='support-item_header'>
                <h3>Thông Tin Liên Hệ</h3>
              </div>
              <div class='support-item_content'>
                <ul class='support-item_content-list'>
                  {{!-- <li class='address-ggmap support-item_content-item'>
                    <i class='fas fa-map-marker-alt'></i>

                    <a  href="https://www.google.com/maps/place/Qana+Sneaker/@10.7345793,106.7293823,17z/data=!3m1!4b1!4m6!3m5!1s0x317525f048c97f77:0xd2e93b281d45ae12!8m2!3d10.734574!4d106.7319572!16s%2Fg%2F11v3_5wjc2?hl=vi-VN&entry=ttu" target="_blank">
                            749/45 Huỳnh Tấn Phát, Phú Thuận, Quận 7, Thành phố Hồ Chí Minh, Việt Nam
                    </a>
               
                  </li> --}}
                  <li class='support-item_content-item'>
                    <i class='fas fa-phone-square'></i>

                    <a href="tel:0962165084">0962165084</a>
                    
                  </li>
                  <li class='support-item_content-item'>
                    <i class='fas fa-paper-plane'></i>
                    <a href="mailto:qananolan.qn76@gmail.com">tranminhnhanhqng@gmail.com</a>
                  </li>
                  <li class='support-item_content-item'></li>
                </ul>
              </div>
            </div>
          </div>
          <div class='col-lg-4 col-md-6 col-12'>
            <div class='footer_main-item'>
              <div class='support-item_header'>
                <h3>Khảo sát</h3>
              </div>
              <div class='support-item_content'>
                <ul class='support-item_content-list'>
                  {{!-- <li class='support-item_content-item'>
                    <a href="/policy/gioi-thieu">Giới thiệu</a>
                  </li>
                 
                  <li class='support-item_content-item'>

                    <a href="/policy/huong-dan-mua-hang">Hướng dẫn mua hàng</a>
                    
                  </li> --}}
                  <li class='support-item_content-item'>

                    <a target='_blank' class='text-green-bold' href="https://docs.google.com/forms/d/e/1FAIpQLSe2JKiIMZiGKdsrlP1FmUxlFQ1fHLVIj26z2QEFGxsRlyAXag/viewform?usp=sharing">Đánh giá từ khách hàng</a>
                    
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {{!-- <div class='col-lg-3 col-md-6 col-12'>
            <div class='footer_main-item'>
              <div class='support-item_header'>
                <h3>Chính Sách</h3>
              </div>
              <div class='support-item_content'>
                <ul class='support-item_content-list'>
                 
                  <li class='support-item_content-item'>
                    
                    <a href="/policy/thanh-toan">Quy Định & Hình Thức Thanh Toán</a>

                  </li>
                  <li class='support-item_content-item'>
                    
                    <a href="/policy/doi-tra">Chính Sách Đổi Trả & Bảo Hành</a>
                    
                  </li>
                  <li class='support-item_content-item'>
                    
                    <a href="/policy/bao-mat">Chính Sách Bảo Mật</a>

                  </li>
                  <li class='support-item_content-item'>
                    
                    <a href="/policy/giao-hang">Chính Sách Giao Hàng</a>

                    
                  </li>
               
                </ul>
              </div>
            </div>
          </div> --}}

        </div>
      </div>
    </div>
  </dic>
</div>

<div class="scroll-container">

  <button class="scroll-to-top" onclick="ScrollToTop()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z" />
      <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
    </svg>
  </button>

</div>


    <div class="google-map">
<p>📍 55 Đại lộ Bình Dương, Vĩnh Phú, Thuận An, Bình Dương, Việt Nam</p>

<iframe
  src="https://www.google.com/maps?q=10.9424773,106.7081793&z=17&output=embed"
  width="100%"
  height="450"
  style="border:0;"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade">
</iframe>




</div>


    </div>
   