<ul class="filter-list">
    <a href="/2205/all">
            <li class="filter-item">Tất cả</li>
    </a>
    <a href="/2205/today">
            <li class="filter-item">Nhận hôm nay</li>
    </a>
    <a href="/2205/tomorrow">
            <li class="filter-item">Nhận ngày mai</li>
    </a>
     <a href="/2205/orderAtToday">
            <li class="filter-item">Đặt hôm nay</li>
    </a>
</ul>

<style>
    .filter-list {
        display:flex;
        gap:15px;
        
    }
    .filter-item {
        text-decoration: none;
        list-style: none;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.226) 1px 1px 3px;
        color:black;
        cursor: pointer;
    }
</style>


